.custom-textarea{
  background-color: #7D4896;
  border: 1px solid white;
  padding:10px 1px 1px 12px;
  border-radius: 5px;
  color: white;
  max-height: 400px;
}
.custom-textarea::placeholder {
  color: white;
  font-size:12px;
}
.flag-dropdown{
  background-color: #7D4896 !important;
}
.react-tel-input ::placeholder{
  color: white;
}

